@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to SmartGast</h1>
    <a class="btn btn-dark" asp-controller="Home" asp-action="Expenses" >Overview</a>
    <a class="btn btn-outline-secondary" asp-controller="Home" asp-action="CreateOrEditAnExpense">Create New</a>
</div>
